*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    background-color: brown;

}
.container{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#Logotext{
    font-size: 30px;
}
#LogoDesign1{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
}
#Navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
}
#Navlist a{
    color: black;
    text-decoration: none;
}

#Logo{
    height: 80px;
}
h2{
    font-size: 45px;
}
.section1{
   display: grid;
   grid-template-columns: 2fr 2fr 2fr; 
}